{% extends "layouts/home.html" %}
{% load static %}
{% load i18n allauth account %}

{% block title_page %}
    {% trans "Password Reset" %}
{% endblock %}

{% block content %}
<div class="card bg-base-100 shadow-xl border border-base-200 w-full animate-fade-in text-center">
    <div class="card-body gap-6 p-10">
        <div class="flex justify-center mb-2">
            <a href="/">
                <img alt="Logo" src="{% static 'assets/images/logos/logo.png' %}" class="h-10" />
            </a>
        </div>
        
        <h2 class="card-title justify-center text-2xl font-bold">{% trans "Password Reset Sent" %}</h2>
        
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <div class="flex flex-col gap-4 opacity-70 text-sm">
            <p>{% trans "We have sent you an email. If you have not received it please check your spam folder." %}</p>
            <p>{% trans "Otherwise contact us if you do not receive it in a few minutes." %}</p>
        </div>

        <div class="card-actions justify-center mt-6">
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-block">
                {% trans "Return to login" %}
            </a>
        </div>
    </div>
</div>
{% endblock content %}
