{% load static %}
{% load i18n %}
{% load humanize %}

<div class="flex flex-col h-full bg-base-100 border-r border-base-200 w-64 lg:w-72">
    <div class="p-6 flex items-center justify-between border-b border-base-200">
        <a href="{% url "apps.dashboard:index" %}" class="flex items-center gap-2">
            <img alt="Logo" src="{% static 'assets/images/logos/logo.png' %}" class="h-8" />
        </a>
    </div>
    
    <div class="flex-grow overflow-y-auto">
        <ul class="menu p-4 w-full text-base-content gap-2">
            <li class="menu-title text-xs uppercase opacity-50 font-bold mt-4">
                Dashboard
            </li>
            <li>
                <a href="{% url 'apps.dashboard:index' %}" class="flex gap-3 {% if request.resolver_match.url_name == 'index' and 'dashboard' in request.path %}active{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                    </svg>
                    <span>Overview</span>
                </a>
            </li>

            {% if perms.users.view_account %}
            <li class="menu-title text-xs uppercase opacity-50 font-bold mt-4">
                Management
            </li>
            <li>
                <a href="{% url 'apps.users:account_list' %}" class="flex gap-3 {% if "accounts" in request.path %}active{% endif %}">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                    </svg>
                    <span>{% trans 'Accounts' %}</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>

    <div class="p-4 border-t border-base-200">
    </div>
</div>
