{% load i18n %}

<footer class="footer footer-center p-10 bg-base-100 text-base-content border-t border-base-200 mt-10">
  <nav class="grid grid-flow-col gap-4">
    <a href="https://knowinglabs.com/pages/collection-instructions" target="_blank" class="link link-hover">
      {% trans "Collection Instructions" %}
    </a>
    <a href="https://knowinglabs.com/pages/faqs" target="_blank" class="link link-hover">
      {% trans "FAQS" %}
    </a>
    <a href="https://knowinglabs.com/policies/terms-of-service" target="_blank" class="link link-hover">
      {% trans "Terms of service" %}
    </a>
  </nav> 
  <aside>
    <p>Copyright &copy; 2024 - {{ site.name }}</p>
  </aside>
</footer>
